@{
    ViewBag.Title = " Safe Cage";
}
<h2>@ViewBag.Title  Mitre Attack İnformation</h2>
<h3>@ViewBag.Message</h3>
<h4> T1056</h4>
<p>Adversaries may use methods of capturing user input to obtain credentials or collect information. During normal system usage, users often provide credentials to various different locations, such as login pages/portals or system dialog boxes. Input capture mechanisms may be transparent to the user or rely on deceiving the user into providing input into what they believe to be a genuine service .</p>
<h4>T1217</h4>
<p>Adversaries may enumerate browser bookmarks to learn more about compromised hosts. Browser bookmarks may reveal personal information about users  as well as details about internal network resources such as servers, tools/dashboards, or other related infrastructure.</p>

