@{
    ViewBag.Title = "Contact With Safe Cage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Basıbuyuk Tekke <br />
    Maltepe, Istanbul<br />

    <abbr title="Phone">Phone Number:</abbr>
    552 544 79 91
</address>

<address>
    <strong>
        For More Information
        :
    </strong>   <a href="mailto:Support@example.com">yaren@gamil.com</a><br />
    <strong>for advertising and collaboration:</strong> <a href="mailto:Marketing@example.com">Ömür@example.com</a>
</address>